.icon {
  display: inline-block;
  margin: auto;
  background: url('imgs/icons.png') 0 0 no-repeat;
  width: 63px;
  height: 67px;
}
.icon-calendar {
  background-position: 0 0;
  width: 63px;
  height: 67px;
}
.icon-notebook {
  background-position: -64px 50%;
  width: 87px;
  height: 67px;
}
.icon-diplom {
  background-position: -151px 50%;
  width: 80px;
  height: 67px;
}
.icon-long-arrow-right {
  background-position: -234px -30px;
  width: 30px;
  height: 10px;
}
.icon-right-arrow {
  background-position: -350px 0px;
  width: 20px;
  height: 67px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.icon-left-arrow {
  background-position: -350px 0px;
  width: 20px;
  height: 67px;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg) translate(50%, 48%);
      -ms-transform: rotate(180deg) translate(50%, 48%);
          transform: rotate(180deg) translate(50%, 48%);
}
.icon-pdf {
  background-position: -267px -10px;
  width: 44px;
  height: 56px;
}
.icon-right-arrow-small {
  background-position: -373px -21px;
  width: 16px;
  height: 28px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.icon-left-arrow-small {
  background-position: -373px -21px;
  width: 16px;
  height: 28px;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg) translate(50%, 48%);
      -ms-transform: rotate(180deg) translate(50%, 48%);
          transform: rotate(180deg) translate(50%, 48%);
}
.icon-green-ckeck {
  background-position: -415px -12px;
  width: 31px;
  height: 43px;
}
.icon-test {
  background-position: -446px -6px;
  width: 70px;
  height: 70px;
}
.icon-grow {
  background-position: -516px -3px;
  width: 60px;
  height: 70px;
}
.icon-subscribe {
  background-position: -578px -3px;
  width: 62px;
  height: 70px;
}
.product-description {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 920px) {
  .product-description {
    display: block;
  }
}
.product-description .product-title {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-flex-basis: 66.6666%;
      -ms-flex-preferred-size: 66.6666%;
          flex-basis: 66.6666%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.product-description .price-form {
  -webkit-flex-basis: 33.3333%;
      -ms-flex-preferred-size: 33.3333%;
          flex-basis: 33.3333%;
}
@media (max-width: 620px) {
  .product-description .product-title {
    display: block;
  }
}
.product-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.advantages-calend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.advantages-calend .advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
@media (max-width: 500px) {
  .advantages-calend .advantages {
    display: block;
  }
}
.advantages-calend .nearest-day {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 380px;
      -ms-flex: 1 0 380px;
          flex: 1 0 380px;
}
@media (max-width: 1280px) {
  .advantages-calend .nearest-day {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 250px;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
  }
}
@media (max-width: 620px) {
  .advantages-calend {
    display: block;
  }
  .advantages-calend .bx-wrapper {
    margin: auto;
  }
}
.price-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (max-width: 920px) {
  .price-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 620px) {
  .price-form {
    display: block;
  }
  .price-form .call-me {
    display: none;
  }
}
.price-form .flex-wrap-form {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 920px) {
  .price-form .flex-wrap-form {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
.price-form .flex-wrap-form .blue-form {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 920px) {
  .price-form .flex-call-price {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
.get-now .you-get {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.get-now .you-get .get {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33.3333%;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
}
@media (max-width: 767px) {
  .get-now .you-get {
    display: block;
  }
}
.mba-intensive {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.mba-intensive .product {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.mba-intensive .product-advantages {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.mba-intensive .product-advantages div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 820px) {
  .mba-intensive {
    display: block;
  }
}
.learning-plan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.learning-plan .download-count {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33.333%;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}
.learning-plan .plan {
  -webkit-box-flex: 1;
  -webkit-flex: 1 2 66.666%;
      -ms-flex: 1 2 66.666%;
          flex: 1 2 66.666%;
}
.reasons .reasons-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.reasons .reasons-list .half-of-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.reasons .reasons-list .half-of-block:not(.big) {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.reasons .reasons-list .half-of-block:not(.big) .reason {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.reasons .reasons-list .half-of-block.big .reason {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.show1470 {
  display: none !important;
}
@media (max-width: 1470px) {
  .show1470 {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .hidden1470 {
    display: none !important;
  }
  .directionRow1470 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 620px) {
  .show1470 {
    display: block !important;
  }
  .reasons .reasons-list {
    display: block;
  }
  .reasons .reasons-list .half-of-block {
    display: block;
  }
}
.results .result-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.results .result-wrap .result {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33.333%;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}
@media (max-width: 800px) {
  .results .result-wrap {
    display: block;
  }
}
.diploms-box .diploms-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.diploms-box .diploms-wrap .diploms {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
@media (max-width: 700px) {
  .diploms-box .diploms-wrap {
    display: block;
  }
}
.end-get-now {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.end-get-now div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33.333%;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}
@media (max-width: 960px) {
  .end-get-now .nearest-day {
    -webkit-box-flex: 2;
    -webkit-flex: 2 2 100%;
        -ms-flex: 2 2 100%;
            flex: 2 2 100%;
  }
}
@media (max-width: 680px) {
  .end-get-now {
    display: block;
  }
}
@-webkit-keyframes bounce {
  0% {
    top: 0px;
  }
  10% {
    top: -3px;
  }
  20% {
    top: 3px;
  }
  30% {
    top: -3px;
  }
  40% {
    top: 3px;
  }
  50% {
    top: -2px;
  }
  60% {
    top: 2px;
  }
  70% {
    top: -2px;
  }
  80% {
    top: 1px;
  }
  90% {
    top: -1px;
  }
  100% {
    top: 0px;
  }
}
@keyframes bounce {
  0% {
    top: 0px;
  }
  10% {
    top: -3px;
  }
  20% {
    top: 3px;
  }
  30% {
    top: -3px;
  }
  40% {
    top: 3px;
  }
  50% {
    top: -2px;
  }
  60% {
    top: 2px;
  }
  70% {
    top: -2px;
  }
  80% {
    top: 1px;
  }
  90% {
    top: -1px;
  }
  100% {
    top: 0px;
  }
}
body {
  font-family: "Open Sans", arial;
  font-size: 18px;
  color: #000;
}
@media (max-width: 1280px) {
  body {
    font-size: 16px;
  }
}
.product-name {
  color: #fff;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8))), url('imgs/bg/product-name.jpg') 50% 50% no-repeat;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8)), url('imgs/bg/product-name.jpg') 50% 50% no-repeat;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)), url('imgs/bg/product-name.jpg') 50% 50% no-repeat;
  background-size: cover;
  height: 720px;
  padding: 70px 175px;
}
.product-name hgroup * {
  font-size: 48px;
  margin: 0;
}
.product-name hgroup h1 {
  font-weight: 500;
  text-transform: uppercase;
}
.product-name hgroup h2 {
  font-weight: 300;
}
.product-name p {
  line-height: 1.7em;
  max-width: 600px;
}
.product-name .logo {
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 1280px) {
  .product-name {
    height: 550px;
    padding: 70px;
  }
  .product-name hgroup * {
    font-size: 38px;
  }
  .product-name p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .product-name {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8))), url('imgs/bg/product-name-min.jpg') 50% 50% no-repeat;
    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8)), url('imgs/bg/product-name-min.jpg') 50% 50% no-repeat;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)), url('imgs/bg/product-name-min.jpg') 50% 50% no-repeat;
    background-size: cover;
  }
}
@media (max-width: 500px) {
  .product-name {
    padding: 10px;
    height: 450px;
  }
  .product-name hgroup * {
    font-size: 30px;
  }
  .product-name hgroup h2 {
    font-size: 25px;
  }
}
.logo {
  width: 379px;
  background-color: #0055a8;
  padding: 15px 30px;
}
.logo img {
  width: 100%;
}
@media (max-width: 1280px) {
  .logo {
    width: 240px;
    padding: 15px 15px;
  }
}
.advantages {
  padding: 60px 0;
}
.advantages .advantage {
  text-align: center;
}
.advantages .advantage p {
  margin-top: 40px;
  padding: 0 10px;
}
@media (max-width: 1280px) {
  .advantages p {
    font-size: 14px;
  }
}
@media (max-width: 1060px) {
  .advantages p {
    font-size: 12px;
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .advantages {
    padding: 20px 0;
  }
  .advantages .advantage {
    margin-bottom: 30px;
  }
  .advantages .advantage p {
    margin-top: 20px;
  }
}
.nearest-day {
  background: #f5f5f5;
  text-align: center;
  padding: 50px 60px;
}
.nearest-day .title {
  font-size: 24px;
  text-transform: uppercase;
  width: 100%;
}
.nearest-day .days-slider {
  margin: 30px auto 0;
}
.nearest-day .days-slider .day {
  background: #fff;
  font-size: 36px;
  padding: 10px 0 40px;
  font-weight: 300;
}
.nearest-day .days-slider .day span {
  font-size: 54px;
  display: block;
  line-height: 40px;
}
.nearest-day .bx-pager-item {
  display: inline-block;
  margin: 10px 3px 0px;
}
.nearest-day .point {
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 10px 3px 0px;
  background: #fff;
  cursor: pointer;
}
.nearest-day .point:hover {
  background-color: #ffb966;
}
.nearest-day .bx-pager-item .active .point {
  background-color: #ff8a00;
}
@media (max-width: 1280px) {
  .nearest-day {
    padding: 28px 30px;
  }
  .nearest-day .title {
    font-size: 18px;
  }
  .nearest-day .days-slider .day {
    font-size: 25px;
  }
  .nearest-day .days-slider .day span {
    font-size: 35px;
  }
}
.bouncing {
  position: relative;
  -webkit-animation: bounce 1s ease-in-out alternate;
          animation: bounce 1s ease-in-out alternate;
}
.button-orange {
  background: #ff8a00;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-weight: bold;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
.button-orange:hover {
  background: #cc6e00;
}
.call-me {
  background: #fff;
  padding: 22px 0;
  text-align: center;
}
.call-me .call-me-button {
  width: 222px;
  font-size: 14px;
  padding: 18px 35px;
}
.call-me .call-me-button:active {
  -webkit-box-shadow: inset 0px 0px 7px 3px #222;
          box-shadow: inset 0px 0px 7px 3px #222;
}
@media (max-width: 1280px) {
  .call-me {
    max-height: 100px;
  }
}
.price-box {
  background: #292a2e;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 40px 20px;
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}
.price-box:hover {
  background: #1d1e21;
}
.price-box .title {
  text-transform: uppercase;
  font-weight: 600;
}
.price-box .new-price {
  color: #ff8a00;
  font-size: 72px;
  font-weight: 600;
  margin: 10px 0;
}
.price-box .old-price {
  font-size: 48px;
  text-decoration: line-through;
  margin-bottom: 40px;
}
@media (max-width: 1280px) {
  .price-box {
    font-size: 18px;
  }
  .price-box .new-price {
    font-size: 48px;
  }
  .price-box .old-price {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
.blue-form {
  padding: 40px;
  background: #2f8dd7;
  color: #fff;
  text-align: center;
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}
.blue-form:hover {
  background: #2680c6;
}
.blue-form .title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.blue-form form {
  padding: 20px 100px;
}
.blue-form form .form-group {
  margin-bottom: 20px;
}
.blue-form form label {
  width: 100%;
  font-weight: normal;
  position: relative;
  cursor: text;
}
.blue-form form input {
  width: 100%;
  border: none;
  background: #4499db;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  display: block;
  padding: 20px;
  outline: none;
}
.blue-form form input:focus {
  background: #6fb0e3;
}
.blue-form form input:not([type="checkbox"]) + span {
  position: absolute;
  top: 20px;
  left: 20px;
  font-style: italic;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.blue-form form input:focus:not([type="checkbox"]) + span,
.blue-form form input.filled:not([type="checkbox"]) + span {
  top: -10px;
  left: 0px;
  background: #4499db;
  padding: 2px 5px;
  color: #ff8a00;
  font-style: normal;
}
.blue-form form input[type="checkbox"] {
  display: inline-block;
  width: auto;
  display: none;
}
.blue-form form input[type="checkbox"] + span {
  font-size: 14px;
  cursor: default;
  padding-left: 30px;
  display: block;
  text-align: left;
  line-height: 1.5em;
}
.blue-form form input[type="checkbox"] ~ .decorate {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 0px;
  left: 5px;
  background: #4499db;
  cursor: default;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.blue-form form input[type="checkbox"]:checked ~ .decorate {
  background: #6fb0e3 url('imgs/icons.png') -233px -9px no-repeat;
}
@media (max-width: 1680px) {
  .blue-form form {
    padding: 20px 40px;
  }
}
@media (max-width: 1280px) {
  .blue-form form {
    padding: 20px;
  }
  .blue-form form input {
    padding: 10px 15px;
  }
  .blue-form form input:not([type="checkbox"]) + span {
    top: 10px;
    left: 15px;
    font-size: 14px;
  }
  .blue-form form input:focus:not([type="checkbox"]) + span,
  .blue-form form input.filled:not([type="checkbox"]) + span {
    padding: 0px 2px;
  }
}
@media (max-width: 1280px) {
  .blue-form {
    padding: 20px;
  }
  .blue-form .caption {
    font-size: 14px;
  }
  .blue-form .title {
    font-size: 18px;
  }
}
.big-button {
  position: relative;
  width: 100%;
  padding: 20px 20px;
  -webkit-box-shadow: 5px 5px 0 0 #b36100;
          box-shadow: 5px 5px 0 0 #b36100;
  font-size: 19px;
}
.big-button:active {
  top: 5px;
  left: 5px;
  -webkit-box-shadow: 0px 0px 6px 1px #804500;
          box-shadow: 0px 0px 6px 1px #804500;
}
.big-button .icon-long-arrow-right {
  position: relative;
  top: -3px;
  left: 3px;
}
@media (max-width: 1280px) {
  .big-button {
    font-size: 14px;
    padding: 10px 10px;
  }
  .big-button .icon-long-arrow-right {
    top: 0px;
    left: 3px;
  }
}
h2.gray {
  background-color: #292a2e;
  color: #fff;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  padding: 34px 0;
  margin: 0;
  font-size: 30px;
}
h2.gray .icon-long-arrow-right {
  -webkit-transform: translate(0, -6px);
      -ms-transform: translate(0, -6px);
          transform: translate(0, -6px);
  margin-left: 70px;
  margin-right: 70px;
}
h2.gray .big-button {
  display: inline-block;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 1010px) {
  h2.gray .icon-long-arrow-right {
    display: none;
  }
}
@media (max-width: 767px) {
  h2.gray {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  h2.gray .big-button {
    display: none;
  }
}
.get-now .you-get {
  background-color: #292a2e;
}
.get-now .you-get .get {
  padding: 117px 60px;
  color: #fff;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.8))), url('imgs/bg/get-now-1.jpg') 50% 50% no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('imgs/bg/get-now-1.jpg') 50% 50% no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('imgs/bg/get-now-1.jpg') 50% 50% no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}
.get-now .you-get .get p {
  font-size: 24px;
  margin: 20px 0;
}
.get-now .you-get .get .number {
  color: rgba(255, 138, 0, 0.27);
  font-size: 36px;
  font-weight: 800;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.get-now .you-get .get:hover .number {
  color: #ff8a00;
}
.get-now .you-get .get1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8))), url('imgs/bg/get-now-1.jpg') 50% 50% no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('imgs/bg/get-now-1.jpg') 50% 50% no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('imgs/bg/get-now-1.jpg') 50% 50% no-repeat;
  background-size: cover;
}
.get-now .you-get .get2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8))), url('imgs/bg/get-now-2.jpg') 50% 50% no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('imgs/bg/get-now-2.jpg') 50% 50% no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('imgs/bg/get-now-2.jpg') 50% 50% no-repeat;
  background-size: cover;
}
.get-now .you-get .get3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8))), url('imgs/bg/get-now-3.jpg') 50% 50% no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('imgs/bg/get-now-3.jpg') 50% 50% no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('imgs/bg/get-now-3.jpg') 50% 50% no-repeat;
  background-size: cover;
}
@media (max-width: 1200px) {
  .get-now .you-get .get {
    padding: 60px 30px;
  }
  .get-now .you-get .get p {
    font-size: 18px;
  }
}
.bg-white {
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.bg-white:hover {
  background-color: #e6e6e6;
}
.bg-green {
  background-color: #8bc34a;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.bg-green:hover {
  background-color: #71a436;
}
.bg-brown {
  background-color: #795548;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.bg-brown:hover {
  background-color: #593f35;
}
.bg-purpure {
  background-color: #7c4dff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.bg-purpure:hover {
  background-color: #561aff;
}
.bg-blue {
  background-color: #2f8dd7;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.bg-blue:hover {
  background-color: #2272b1;
}
.mba-intensive h2 {
  color: #0055a8;
  font-size: 72px;
  text-transform: uppercase;
}
.mba-intensive h3 {
  font-size: 36px;
  font-weight: 300;
}
.mba-intensive p {
  font-weight: 300;
  font-size: 24px;
  margin: 30px 0 30px;
}
.mba-intensive .product {
  padding: 30px 100px 0 150px;
  background-color: #f2f2f2;
}
.mba-intensive .product-advantages {
  text-align: center;
}
.mba-intensive .product-advantages div {
  padding: 0 60px;
  color: #fff;
}
.mba-intensive .product-advantages div.bg-white {
  color: #000;
}
.mba-intensive .can-download {
  white-space: nowrap;
}
.mba-intensive .can-download .caption {
  color: #666;
}
.mba-intensive .can-download .plan,
.mba-intensive .can-download .programm {
  color: #fff;
  display: inline-block;
  padding: 20px 30px 15px;
  font-size: 14px;
  text-transform: uppercase;
}
.mba-intensive .can-download .plan {
  background-color: #ff8a00;
}
.mba-intensive .can-download .programm {
  background-color: #2f8dd7;
}
@media (max-width: 1580px) {
  .mba-intensive h2 {
    font-size: 48px;
  }
  .mba-intensive h3 {
    font-size: 24px;
  }
  .mba-intensive p {
    font-size: 18px;
  }
}
@media (max-width: 1380px) {
  .mba-intensive .can-download .plan,
  .mba-intensive .can-download .programm {
    padding: 10px 15px 5px;
  }
}
@media (max-width: 1200px) {
  .mba-intensive p {
    font-size: 16px;
  }
}
@media (max-width: 1180px) {
  .mba-intensive .can-download .plan,
  .mba-intensive .can-download .programm {
    font-size: 12px;
  }
}
@media (max-width: 980px) {
  .mba-intensive .product {
    padding: 30px 50px 0 70px;
  }
}
@media (max-width: 820px) {
  .mba-intensive .product-advantages div {
    padding: 40px;
  }
}
@media (max-width: 540px) {
  .mba-intensive .product {
    padding: 20px 20px 0 20px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .mba-intensive .product-advantages div {
    padding: 30px 20px;
    font-size: 14px;
  }
}
@media (max-width: 370px) {
  .mba-intensive h2 {
    font-size: 36px;
  }
  .mba-intensive h3 {
    font-size: 20px;
  }
  .mba-intensive .product {
    padding: 10px 10px 0 10px;
  }
  .mba-intensive .product-advantages div {
    padding: 30px 10px;
  }
  .mba-intensive .can-download {
    white-space: normal;
  }
}
.modules-programms .module .programm {
  position: relative;
}
.modules-programms .module .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  z-index: 1;
}
.modules-programms .module .caption p {
  position: absolute;
  width: 90%;
  bottom: 10%;
  left: 5%;
  text-align: center;
}
.modules-programms .module img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modules-programms .module .programm:hover img {
  -webkit-filter: none;
          filter: none;
}
.modules-programms .controls-header {
  background-color: #292a2e;
  text-align: center;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  padding: 40px 0;
  position: relative;
}
.modules-programms .controls-header h2 {
  margin: 0;
  font-size: 48px;
  display: inline;
  margin-right: 20px;
  font-weight: 300;
}
.modules-programms .controls-header .pages div {
  display: inline;
  font-style: italic;
  font-size: 48px;
  opacity: 0.21;
}
.modules-programms .controls-header .control {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 120px;
  background-color: #414349;
  cursor: pointer;
}
.modules-programms .controls-header .control.slider-next {
  left: auto;
  right: 0;
}
.modules-programms .controls-header .control a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.modules-programms .controls-header .control .icon {
  position: absolute;
  top: 50%;
  left: 50%;
}
.modules-programms .controls-header .control:hover {
  background-color: #2f8dd7;
}
.modules-programms .controls-header .control:hover .icon {
  background-position: -318px 0px;
}
@media (max-width: 1280px) {
  .modules-programms .caption {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .modules-programms .module .caption {
    font-size: 18px;
  }
  .modules-programms .controls-header h2 {
    font-size: 37px;
  }
  .modules-programms .controls-header .pages div {
    font-size: 37px;
  }
}
@media (max-width: 767px) {
  .modules-programms .controls-header {
    padding: 20px 0;
  }
  .modules-programms .controls-header h2,
  .modules-programms .controls-header .pages div {
    font-size: 30px;
  }
  .modules-programms .controls-header .control {
    width: 40px;
  }
}
@media (max-width: 560px) {
  .modules-programms .controls-header {
    padding: 14px 0;
  }
  .modules-programms .controls-header h2 {
    margin-right: 0px;
  }
  .modules-programms .controls-header h2,
  .modules-programms .controls-header .pages div {
    font-size: 18px;
  }
  .modules-programms .controls-header .control {
    width: 30px;
  }
}
@media (max-width: 500px) {
  .modules-programms .module .programm {
    width: 50%;
    float: left;
  }
  .modules-programms .module .caption {
    font-size: 14px;
  }
}
.learning-plan .download-count {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.8))), url('imgs/bg/learning-plan.jpg') 50% 50% no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('imgs/bg/learning-plan.jpg') 50% 50% no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('imgs/bg/learning-plan.jpg') 50% 50% no-repeat;
  background-size: cover;
}
.learning-plan .download-count-wrap {
  color: #fff;
  width: 267px;
  position: absolute;
  top: 0;
  right: 0;
}
.learning-plan .count {
  background: #2f8dd7;
  font-size: 24px;
  padding: 30px;
  text-align: center;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}
.learning-plan .count .number {
  font-size: 150px;
  line-height: 140px;
}
.learning-plan .count:hover {
  background: #1e649c;
}
.learning-plan .download {
  background: #ff8a00;
  text-align: center;
  padding: 30px;
  position: relative;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}
.learning-plan .download .big {
  font-size: 30px;
}
.learning-plan .download .memory {
  color: rgba(1, 1, 1, 0.33);
  font-style: italic;
  margin-top: 10px;
}
.learning-plan .download .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.learning-plan .download .pdf {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.learning-plan .download:hover {
  background-color: #b36100;
}
.learning-plan .download:hover .pdf {
  -webkit-transform: rotate(360deg) scale(1.2);
      -ms-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}
.learning-plan .download:hover .big {
  text-decoration: underline;
}
.learning-plan .plan {
  padding: 40px 170px 0px 40px;
}
.learning-plan .plan .page {
  padding: 40px 0;
}
.learning-plan .plan .learning-plan-slider-wrap {
  position: relative;
  padding: 0 150px;
}
.learning-plan .plan .bx-wrapper {
  position: relative;
  z-index: 1;
}
.learning-plan .plan h2 {
  font-size: 48px;
  color: #2f8dd7;
  text-transform: uppercase;
}
.learning-plan .plan h3 {
  font-size: 48px;
}
.learning-plan .plan ul {
  margin: 0;
}
.learning-plan .plan ul li {
  margin-bottom: 25px;
}
.learning-plan .plan h4 {
  font-size: 1.3em;
}
.learning-plan .plan p,
.learning-plan .plan h4 {
  padding-left: 20px;
}
.learning-plan .plan .read-more {
  color: #2f8dd7;
  cursor: pointer;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}
.learning-plan .plan .read-more:hover {
  color: #1e649c;
}
.learning-plan .plan .circle {
  display: inline-block;
  width: 58px;
  height: 58px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  border: 5px solid #B7B7B7;
  background-color: #fff;
}
.learning-plan .plan .circle .icon {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}
.learning-plan .plan .prev:hover .circle,
.learning-plan .plan .next:hover .circle {
  border-color: #4B9DDD;
}
.learning-plan .plan .prev:hover .circle .icon,
.learning-plan .plan .next:hover .circle .icon {
  background-position: -392px -21px;
}
.learning-plan .plan .prev {
  float: left;
}
.learning-plan .plan .next {
  float: right;
}
.learning-plan .plan .controls {
  padding: 0 0 0 20px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.learning-plan .plan .pager {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  font-size: 60px;
  font-weight: 300;
}
.learning-plan .plan .numSlide {
  color: #2f8dd7;
  border-bottom: 1px solid #292a2e;
}
@media (max-width: 1580px) {
  .learning-plan .plan {
    padding: 40px 100px 0px 40px;
  }
  .learning-plan .plan h2,
  .learning-plan .plan h3 {
    font-size: 40px;
  }
}
@media (max-width: 1300px) {
  .learning-plan .download-count-wrap {
    width: 178px;
  }
  .learning-plan .count {
    font-size: 16px;
  }
  .learning-plan .count .number {
    font-size: 100px;
    line-height: 90px;
  }
  .learning-plan .download {
    font-size: 14px;
    padding: 20px;
  }
  .learning-plan .download .big {
    font-size: 24px;
  }
  .learning-plan .plan h2,
  .learning-plan .plan h3 {
    font-size: 30px;
  }
  .learning-plan .plan ul li {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .learning-plan .plan .learning-plan-slider-wrap {
    padding: 0 80px 0 120px;
  }
  .learning-plan .plan .controls {
    padding: 0;
  }
  .learning-plan .plan .pager {
    font-size: 40px;
  }
}
@media (max-width: 970px) {
  .learning-plan .plan {
    padding: 40px 30px 0px 40px;
  }
  .learning-plan .plan .page {
    padding: 20px 0;
  }
  .learning-plan .plan .pager {
    font-size: 32px;
  }
  .learning-plan .plan ul li {
    font-size: 12px;
  }
  .learning-plan .plan .learning-plan-slider-wrap {
    padding: 0 80px 0 100px;
  }
}
@media (max-width: 900px) {
  .learning-plan .plan h2,
  .learning-plan .plan h3 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .learning-plan .download-count {
    display: none;
  }
}
@media (max-width: 500px) {
  .learning-plan .plan {
    padding: 20px 10px 50px 10px;
  }
  .learning-plan .plan ul li {
    font-size: 12px;
  }
  .learning-plan .plan .page {
    padding: 0px 0 40px;
  }
  .learning-plan .plan .learning-plan-slider-wrap {
    padding: 0 15px 30px;
  }
  .learning-plan .plan p,
  .learning-plan .plan h4 {
    padding: 0 15px;
  }
  .learning-plan .plan .controls {
    top: 95%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .learning-plan .plan .pager {
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    margin: 0;
  }
  .learning-plan .plan .pager .numSlide {
    display: inline-block;
    border-bottom: none;
    border-right: 1px solid #292a2e;
    padding-right: 7px;
  }
  .learning-plan .plan .pager .countSlides {
    display: inline-block;
  }
}
.reasons {
  color: #fff;
}
.reasons .bg-white {
  color: #000;
}
.reasons .reasons-list .half-of-block:not(.big) .reason {
  padding: 40px 60px;
  font-size: 16px;
}
.reasons .reasons-list .half-of-block:not(.big) .reason .title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}
.reasons .reasons-list .big .reason {
  overflow: hidden;
  position: relative;
  padding: 80px 400px 80px 60px;
}
.reasons .reasons-list .big .reason .title {
  font-size: 36px;
  margin-bottom: 20px;
}
.reasons .reasons-list .big .reason img {
  border: 12px solid #fff;
  position: absolute;
  top: 50%;
  right: 300px;
  -webkit-transform: translate(100%, -50%);
      -ms-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  max-height: 170%;
}
.reasons .reasons-list .big .reason img:hover {
  border-color: #aaa;
  -webkit-transform: translate(80%, -50%) scale(1.1);
      -ms-transform: translate(80%, -50%) scale(1.1);
          transform: translate(80%, -50%) scale(1.1);
}
@media (max-width: 1660px) {
  .reasons .reasons-list .big .reason {
    padding: 80px 340px 80px 60px;
  }
  .reasons .reasons-list .big .reason .title {
    font-size: 30px;
  }
}
@media (max-width: 1470px) {
  .reasons .reasons-list .half-of-block:not(.big) .reason {
    padding: 20px 60px;
    font-size: 14px;
  }
  .reasons .reasons-list .half-of-block:not(.big) .reason .title {
    font-size: 18px;
  }
  .reasons .reasons-list .big .reason {
    padding: 40px 300px 40px 60px;
    font-size: 14px;
  }
  .reasons .reasons-list .big .reason .title {
    font-size: 24px;
  }
}
@media (max-width: 1470px) {
  .reasons .reasons-list .half-of-block:not(.big) .reason {
    font-size: 12px;
  }
  .reasons .reasons-list .half-of-block:not(.big) .reason .title {
    font-size: 14px;
  }
  .reasons .reasons-list .big .reason .title {
    font-size: 19px;
  }
}
@media (max-width: 1170px) {
  .reasons .reasons-list .half-of-block:not(.big) .reason {
    font-size: 12px;
  }
  .reasons .reasons-list .half-of-block:not(.big) .reason .title {
    font-size: 14px;
  }
  .reasons .reasons-list .big .reason {
    padding: 40px 200px 40px 60px;
  }
  .reasons .reasons-list .big .reason img {
    right: 200px;
  }
}
@media (max-width: 620px) {
  .reasons .reasons-list .half-of-block:not(.big) .reason {
    padding: 20px;
  }
  .reasons .reasons-list .big .reason {
    padding: 30px 150px 30px 20px;
  }
  .reasons .reasons-list .big .reason img {
    right: 120px;
    max-height: 120%;
  }
}
@media (max-width: 500px) {
  .reasons .big-button {
    display: none;
  }
  .reasons h2.gray {
    font-size: 16px;
  }
}
.results h3 {
  color: #2f8dd7;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
}
.results .caption {
  color: #888;
  text-align: center;
}
.results .result {
  padding: 50px 40px;
  border-right: 1px solid #e1e1e1;
}
.results .result:last-of-type {
  border-right: none;
}
.results p {
  text-align: center;
}
.results img {
  width: 100%;
  margin: 30px 0;
}
.results ul {
  list-style: none;
  padding-left: 0px;
}
.results li {
  position: relative;
  padding-left: 40px;
  margin: 30px 0 0;
}
.results li:before {
  display: inline-block;
  content: '';
  margin: auto;
  background: url('imgs/icons.png') -415px -12px no-repeat;
  width: 31px;
  height: 43px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.results li:hover:before {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
@media (max-width: 1300px) {
  .results .result {
    padding: 30px 20px;
    font-size: 12px;
  }
  .results h3 {
    color: #2f8dd7;
    font-size: 18px;
  }
  .results li {
    padding-left: 25px;
  }
  .results li:before {
    background: url('imgs/icons.png') -207px -3px no-repeat;
    background-size: 223px 23px;
    width: 16px;
    height: 21px;
  }
}
@media (max-width: 1300px) {
  .results .result {
    padding: 10px 20px;
    font-size: 13px;
  }
}
.teachers .module .caption {
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  overflow: hidden;
}
.teachers .module .caption .description {
  bottom: 120%;
  font-style: italic;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.teachers .module .programm:hover .caption {
  background: rgba(47, 141, 215, 0.7);
}
.teachers .module .programm:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.teachers .module .programm:hover .description {
  bottom: 30%;
}
@media (max-width: 1310px) {
  .teachers .controls-header h2 {
    font-size: 30px;
  }
  .teachers .controls-header .pages div {
    font-size: 30px;
  }
}
@media (max-width: 930px) {
  .teachers .controls-header h2 {
    font-size: 25px;
  }
  .teachers .controls-header .pages div {
    font-size: 25px;
  }
}
@media (max-width: 830px) {
  .teachers .hidden830 {
    display: none;
  }
}
@media (max-width: 480px) {
  .teachers .controls-header h2 {
    font-size: 20px;
  }
  .teachers .controls-header .pages div {
    font-size: 20px;
  }
}
.diploms-box {
  color: #fff;
  font-size: 24px;
}
.diploms-box .diploms {
  padding: 110px 400px 110px 40px;
  position: relative;
  overflow: hidden;
  min-height: 400px;
}
.diploms-box .minislider-wrap {
  position: absolute;
  top: 50%;
  right: -40px;
  width: 350px;
  -webkit-transform: translate(0, -45%);
      -ms-transform: translate(0, -45%);
          transform: translate(0, -45%);
}
.diploms-box .minislider-wrap .item a {
  display: block;
}
.diploms-box img {
  width: 100%;
  max-height: 100%;
  border: 12px solid #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.diploms-box img:hover {
  border-color: #aaa;
}
.diploms-box .bx-pager-item {
  display: inline-block;
  margin: 2px 3px 0px;
}
.diploms-box .bx-pager {
  text-align: center;
}
.diploms-box .point {
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 2px 3px 0px;
  background: #fff;
  cursor: pointer;
}
.diploms-box .point:hover {
  background-color: #ffb966;
}
.diploms-box .bx-pager-item .active .point {
  background-color: #ff8a00;
}
@media (max-width: 1480px) {
  .diploms-box {
    font-size: 18px;
  }
  .diploms-box .diploms {
    padding: 50px 220px 60px 40px;
    min-height: 221px;
  }
  .diploms-box .minislider-wrap {
    top: 50%;
    right: -30px;
    width: 200px;
    -webkit-transform: translate(0, -45%);
        -ms-transform: translate(0, -45%);
            transform: translate(0, -45%);
  }
}
@media (max-width: 1030px) {
  .diploms-box {
    font-size: 14px;
  }
  .diploms-box .diploms {
    padding: 50px 160px 60px 40px;
    min-height: 221px;
  }
  .diploms-box .minislider-wrap {
    top: 50%;
    right: -30px;
    width: 150px;
    -webkit-transform: translate(0, -45%);
        -ms-transform: translate(0, -45%);
            transform: translate(0, -45%);
  }
  .diploms-box .point {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 1030px) {
  .diploms-box .diploms {
    min-height: 190px;
  }
}
@media (max-width: 420px) {
  .diploms-box {
    font-size: 14px;
  }
  .diploms-box .diploms {
    padding: 20px 150px 30px 10px;
    min-height: 150px;
  }
  .diploms-box .minislider-wrap {
    top: 50%;
    right: -30px;
    width: 150px;
    -webkit-transform: translate(0, -45%);
        -ms-transform: translate(0, -45%);
            transform: translate(0, -45%);
  }
}
.end-get-now .you-get-flex {
  background: #292a2e;
  color: #fff;
  text-align: center;
  padding: 40px 30px;
}
.end-get-now .you-get-flex h2 {
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}
.end-get-now .you-get-flex .get {
  position: relative;
  text-align: left;
  margin-top: 70px;
}
.end-get-now .you-get-flex .icon {
  position: absolute;
  top: 0;
  left: 0;
}
.end-get-now .you-get-flex p {
  padding-left: 80px;
  font-size: 24px;
}
.end-get-now .nearest-day {
  padding-top: 40px;
}
.end-get-now .days-slider .day {
  margin: 20px auto;
  max-width: 200px;
  padding: 10px 30px;
}
@media (max-width: 1280px) {
  .end-get-now .you-get-flex {
    padding: 20px 30px;
  }
  .end-get-now .you-get-flex p {
    font-size: 18px;
  }
  .end-get-now .you-get-flex h2 {
    font-size: 18px;
  }
  .end-get-now .nearest-day {
    padding-top: 20px;
  }
}
@media (max-width: 1100px) {
  .end-get-now .you-get-flex p {
    font-size: 14px;
    padding-left: 40px;
  }
  .end-get-now .you-get-flex .icon {
    background-size: 223px 33px;
    width: 31px;
    height: 33px;
  }
  .end-get-now .you-get-flex .get {
    margin-top: 40px;
  }
}
@media (max-width: 1000px) {
  .end-get-now .you-get-flex {
    padding: 20px 10px;
  }
}
.modal-body {
  margin: 0;
  position: relative;
}
.modal-body .form-group:nth-of-type(2) {
  display: none;
}
.modal-body .form-group:nth-of-type(4) {
  display: none;
}
.modal-body .close {
  top: 5px;
  right: 10px;
  position: absolute;
  font-size: 30px;
}
.full-module {
  padding: 30px 30px 30px 10px;
}
.full-module h4 {
  font-size: 1.3em;
}
.full-module h4,
.full-module p {
  padding-left: 30px;
}
.full-module li {
  margin-bottom: 10px;
}
@media (max-width: 530px) {
  .full-module {
    font-size: 14px;
  }
}
